<div id="nav" layout="row top-left">
    <div self="left">
        <a href="{{ site.baseurl}}/"><div class="logo logo-isNotVisIfMobile">{{ site.title }}</div></a>
        <a href="{{ site.baseurl}}/"><div class="logo logo-isVisIfMobile"></div></a>
    </div>
    <div class="nav-isNotVisIfMobile">
        <div class="item">
            <a href="{{ site.baseurl}}/tags">Tags</a>
        </div>
        <div class="item">
            <a href="http://www.17study.com.cn">HOME</a>
        </div>
    </div>
    <div class="nav-isVisIfMobile">
        <div class="item">
            <a href="{{ site.baseurl}}/tags">Tags</a>
        </div>
        <div class="item">
            <a href="http://www.17study.com.cn">HOME</a>
        </div>
    </div>
</div>
