<div id="wechatDlg" title="扫码加微信">
  <img src=/assets/images/wechatQR.jpg width=400 height=400></img>
</div>
<!--   Core JS Files   -->
<script src="//cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="//cdn.bootcss.com/mixitup/2.1.11/jquery.mixitup.min.js"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script>
  $(function() {
    $( "#wechatDlg" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 100
      },
      hide: {
        effect: "explode",
        duration: 100
      },
	  width:450
    });
 
    $( "#wechatDlgLink" ).click(function() {
      $( "#wechatDlg" ).dialog( "open" );
	  return (false);
    });
	
	var u = navigator.userAgent;
	if (u.indexOf('Android') > -1 || u.indexOf('iPhone') > -1 || u.indexOf('iPad') > -1){
		$("a").addClass("hover");
	}
  });
</script>
